$card-border-color: #ccc;
$card-border-radius: 8px;
$card-padding: 1rem;

.cards {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  background-color: #F6F6F6;
  padding: 2rem;
  border-radius: 25px;
}

.card {
  border: 1px solid $card-border-color;
  padding: $card-padding;
  border-radius: $card-border-radius;
  flex-basis: calc((100% - 4rem) / 3);
  cursor: pointer;
  background-color: #FF6060;


  &__image {
    width: 100%;
    aspect-ratio: 4 / 3;
    border-top-left-radius: $card-border-radius;
    border-top-right-radius: $card-border-radius;
    object-fit: cover;
  }

  &__title {
    font-size: 1rem;
    margin: 0.5rem 0;
    color: white;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5rem;
    min-height: 3rem;
  }
}

@media only screen and (max-width: 1024px) {
  .cards {
    padding: 0;
    flex-wrap: nowrap;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #FFFFFF;
  }
}