.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 4rem;

  &__nav {
    display: flex;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 24px;
    color: black;
    gap: 60px;
  }
}