@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  color: #FF6060;
  font-size: 1rem;
  font-weight: bold;
  font-family: Montserrat, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

main {
  min-height: calc(100vh - 342px);
}

@media only screen and (max-width: 1024px) {
  main {
    min-height: calc(100vh - 304px);
  }
}